/* 
	Gaziter Theme
*/
[data-theme='gaziter'] {
	--theme-color-primary-0:           #000000; /* Color(0xFF000000) */
	--theme-color-primary-2:           #000a05; /* Color(0xFF000A05) */
	--theme-color-primary-4:           #00120a; /* Color(0xFF00120A) */
	--theme-color-primary-5:           #00150c; /* Color(0xFF00150C) */
	--theme-color-primary-6:           #00170e; /* Color(0xFF00170E) */
	--theme-color-primary-10:          #002115; /* Color(0xFF002115) */
	--theme-color-primary-12:          #002519; /* Color(0xFF002519) */
	--theme-color-primary-17:          #003122; /* Color(0xFF003122) */
	--theme-color-primary-20:          #003827; /* Color(0xFF003827) */
	--theme-color-primary-22:          #003d2b; /* Color(0xFF003D2B) */
	--theme-color-primary-24:          #00422f; /* Color(0xFF00422F) */
	--theme-color-primary-30:          #00513a; /* Color(0xFF00513A) */
	--theme-color-primary-40:          #006c4e; /* Color(0xFF006C4E) */
	--theme-color-primary-50:          #008864; /* Color(0xFF008864) */
	--theme-color-primary-60:          #00a579; /* Color(0xFF00A579) */
	--theme-color-primary-65:          #00b385; /* Color(0xFF00B385) */
	--theme-color-primary-70:          #00c290; /* Color(0xFF00C290) */
	--theme-color-primary-75:          #00d29c; /* Color(0xFF00D29C) */
	--theme-color-primary-80:          #00e1a7; /* Color(0xFF00E1A7) */
	--theme-color-primary-84:          #00eeb1; /* Color(0xFF00EEB1) */
	--theme-color-primary-87:          #00f7b8; /* Color(0xFF00F7B8) */
	--theme-color-primary-90:          #3bffc1; /* Color(0xFF3BFFC1) */
	--theme-color-primary-92:          #82ffce; /* Color(0xFF82FFCE) */
	--theme-color-primary-94:          #abffda; /* Color(0xFFABFFDA) */
	--theme-color-primary-95:          #bcffe0; /* Color(0xFFBCFFE0) */
	--theme-color-primary-96:          #ccffe6; /* Color(0xFFCCFFE6) */
	--theme-color-primary-97:          #daffeb; /* Color(0xFFDAFFEB) */
	--theme-color-primary-98:          #e7fff1; /* Color(0xFFE7FFF1) */
	--theme-color-primary-99:          #f4fff7; /* Color(0xFFF4FFF7) */
	--theme-color-primary-100:         #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-secondary-0:         #000000; /* Color(0xFF000000) */
	--theme-color-secondary-2:         #000907; /* Color(0xFF000907) */
	--theme-color-secondary-4:         #00110e; /* Color(0xFF00110E) */
	--theme-color-secondary-5:         #001411; /* Color(0xFF001411) */
	--theme-color-secondary-6:         #001713; /* Color(0xFF001713) */
	--theme-color-secondary-10:        #00201c; /* Color(0xFF00201C) */
	--theme-color-secondary-12:        #002520; /* Color(0xFF002520) */
	--theme-color-secondary-17:        #00302a; /* Color(0xFF00302A) */
	--theme-color-secondary-20:        #033730; /* Color(0xFF033730) */
	--theme-color-secondary-22:        #093c35; /* Color(0xFF093C35) */
	--theme-color-secondary-24:        #104039; /* Color(0xFF104039) */
	--theme-color-secondary-30:        #204e47; /* Color(0xFF204E47) */
	--theme-color-secondary-40:        #3a665e; /* Color(0xFF3A665E) */
	--theme-color-secondary-50:        #537f77; /* Color(0xFF537F77) */
	--theme-color-secondary-60:        #6c9990; /* Color(0xFF6C9990) */
	--theme-color-secondary-65:        #79a79d; /* Color(0xFF79A79D) */
	--theme-color-secondary-70:        #86b4ab; /* Color(0xFF86B4AB) */
	--theme-color-secondary-75:        #93c2b8; /* Color(0xFF93C2B8) */
	--theme-color-secondary-80:        #a1d0c6; /* Color(0xFFA1D0C6) */
	--theme-color-secondary-84:        #acdbd1; /* Color(0xFFACDBD1) */
	--theme-color-secondary-87:        #b4e4d9; /* Color(0xFFB4E4D9) */
	--theme-color-secondary-90:        #bcece2; /* Color(0xFFBCECE2) */
	--theme-color-secondary-92:        #c2f2e7; /* Color(0xFFC2F2E7) */
	--theme-color-secondary-94:        #c8f8ed; /* Color(0xFFC8F8ED) */
	--theme-color-secondary-95:        #cafbf0; /* Color(0xFFCAFBF0) */
	--theme-color-secondary-96:        #cdfdf3; /* Color(0xFFCDFDF3) */
	--theme-color-secondary-97:        #d6fff5; /* Color(0xFFD6FFF5) */
	--theme-color-secondary-98:        #e5fff8; /* Color(0xFFE5FFF8) */
	--theme-color-secondary-99:        #f3fffb; /* Color(0xFFF3FFFB) */
	--theme-color-secondary-100:       #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-tertiary-0:          #000000; /* Color(0xFF000000) */
	--theme-color-tertiary-2:          #00090a; /* Color(0xFF00090A) */
	--theme-color-tertiary-4:          #001111; /* Color(0xFF001111) */
	--theme-color-tertiary-5:          #001415; /* Color(0xFF001415) */
	--theme-color-tertiary-6:          #001717; /* Color(0xFF001717) */
	--theme-color-tertiary-10:         #002020; /* Color(0xFF002020) */
	--theme-color-tertiary-12:         #002425; /* Color(0xFF002425) */
	--theme-color-tertiary-17:         #003031; /* Color(0xFF003031) */
	--theme-color-tertiary-20:         #003738; /* Color(0xFF003738) */
	--theme-color-tertiary-22:         #003c3d; /* Color(0xFF003C3D) */
	--theme-color-tertiary-24:         #004042; /* Color(0xFF004042) */
	--theme-color-tertiary-30:         #004f51; /* Color(0xFF004F51) */
	--theme-color-tertiary-40:         #19686a; /* Color(0xFF19686A) */
	--theme-color-tertiary-50:         #398283; /* Color(0xFF398283) */
	--theme-color-tertiary-60:         #559c9d; /* Color(0xFF559C9D) */
	--theme-color-tertiary-65:         #63a9ab; /* Color(0xFF63A9AB) */
	--theme-color-tertiary-70:         #70b7b8; /* Color(0xFF70B7B8) */
	--theme-color-tertiary-75:         #7ec5c6; /* Color(0xFF7EC5C6) */
	--theme-color-tertiary-80:         #8cd3d4; /* Color(0xFF8CD3D4) */
	--theme-color-tertiary-84:         #97dedf; /* Color(0xFF97DEDF) */
	--theme-color-tertiary-87:         #9fe6e8; /* Color(0xFF9FE6E8) */
	--theme-color-tertiary-90:         #a8eff0; /* Color(0xFFA8EFF0) */
	--theme-color-tertiary-92:         #adf5f6; /* Color(0xFFADF5F6) */
	--theme-color-tertiary-94:         #b3fbfc; /* Color(0xFFB3FBFC) */
	--theme-color-tertiary-95:         #b6fdff; /* Color(0xFFB6FDFF) */
	--theme-color-tertiary-96:         #c4feff; /* Color(0xFFC4FEFF) */
	--theme-color-tertiary-97:         #d3ffff; /* Color(0xFFD3FFFF) */
	--theme-color-tertiary-98:         #e2ffff; /* Color(0xFFE2FFFF) */
	--theme-color-tertiary-99:         #f1ffff; /* Color(0xFFF1FFFF) */
	--theme-color-tertiary-100:        #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-error-0:             #000000; /* Color(0xFF000000) */
	--theme-color-error-2:             #1a0000; /* Color(0xFF1A0000) */
	--theme-color-error-4:             #280001; /* Color(0xFF280001) */
	--theme-color-error-5:             #2d0001; /* Color(0xFF2D0001) */
	--theme-color-error-6:             #310001; /* Color(0xFF310001) */
	--theme-color-error-10:            #410002; /* Color(0xFF410002) */
	--theme-color-error-12:            #490002; /* Color(0xFF490002) */
	--theme-color-error-17:            #5c0004; /* Color(0xFF5C0004) */
	--theme-color-error-20:            #690005; /* Color(0xFF690005) */
	--theme-color-error-22:            #710005; /* Color(0xFF710005) */
	--theme-color-error-24:            #790006; /* Color(0xFF790006) */
	--theme-color-error-30:            #93000a; /* Color(0xFF93000A) */
	--theme-color-error-40:            #ba1a1a; /* Color(0xFFBA1A1A) */
	--theme-color-error-50:            #de3730; /* Color(0xFFDE3730) */
	--theme-color-error-60:            #ff5449; /* Color(0xFFFF5449) */
	--theme-color-error-65:            #ff7164; /* Color(0xFFFF7164) */
	--theme-color-error-70:            #ff897d; /* Color(0xFFFF897D) */
	--theme-color-error-75:            #ff9f94; /* Color(0xFFFF9F94) */
	--theme-color-error-80:            #ffb4ab; /* Color(0xFFFFB4AB) */
	--theme-color-error-84:            #ffc3bc; /* Color(0xFFFFC3BC) */
	--theme-color-error-87:            #ffcfc9; /* Color(0xFFFFCFC9) */
	--theme-color-error-90:            #ffdad6; /* Color(0xFFFFDAD6) */
	--theme-color-error-92:            #ffe2de; /* Color(0xFFFFE2DE) */
	--theme-color-error-94:            #ffe9e6; /* Color(0xFFFFE9E6) */
	--theme-color-error-95:            #ffedea; /* Color(0xFFFFEDEA) */
	--theme-color-error-96:            #fff0ee; /* Color(0xFFFFF0EE) */
	--theme-color-error-97:            #fff4f2; /* Color(0xFFFFF4F2) */
	--theme-color-error-98:            #fff8f7; /* Color(0xFFFFF8F7) */
	--theme-color-error-99:            #fffbff; /* Color(0xFFFFFBFF) */
	--theme-color-error-100:           #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-neutral-0:           #000000; /* Color(0xFF000000) */
	--theme-color-neutral-2:           #020905; /* Color(0xFF020905) */
	--theme-color-neutral-4:           #06100c; /* Color(0xFF06100C) */
	--theme-color-neutral-5:           #08130e; /* Color(0xFF08130E) */
	--theme-color-neutral-6:           #0a1611; /* Color(0xFF0A1611) */
	--theme-color-neutral-10:          #121e19; /* Color(0xFF121E19) */
	--theme-color-neutral-12:          #16221d; /* Color(0xFF16221D) */
	--theme-color-neutral-17:          #212c27; /* Color(0xFF212C27) */
	--theme-color-neutral-20:          #27332d; /* Color(0xFF27332D) */
	--theme-color-neutral-22:          #2b3731; /* Color(0xFF2B3731) */
	--theme-color-neutral-24:          #303c36; /* Color(0xFF303C36) */
	--theme-color-neutral-30:          #3d4943; /* Color(0xFF3D4943) */
	--theme-color-neutral-40:          #55615a; /* Color(0xFF55615A) */
	--theme-color-neutral-50:          #6d7a73; /* Color(0xFF6D7A73) */
	--theme-color-neutral-60:          #87948c; /* Color(0xFF87948C) */
	--theme-color-neutral-65:          #94a199; /* Color(0xFF94A199) */
	--theme-color-neutral-70:          #a1aea6; /* Color(0xFFA1AEA6) */
	--theme-color-neutral-75:          #afbcb4; /* Color(0xFFAFBCB4) */
	--theme-color-neutral-80:          #bccac1; /* Color(0xFFBCCAC1) */
	--theme-color-neutral-84:          #c7d5cc; /* Color(0xFFC7D5CC) */
	--theme-color-neutral-87:          #d0ddd4; /* Color(0xFFD0DDD4) */
	--theme-color-neutral-90:          #d8e6dd; /* Color(0xFFD8E6DD) */
	--theme-color-neutral-92:          #deebe2; /* Color(0xFFDEEBE2) */
	--theme-color-neutral-94:          #e4f1e8; /* Color(0xFFE4F1E8) */
	--theme-color-neutral-95:          #e7f4eb; /* Color(0xFFE7F4EB) */
	--theme-color-neutral-96:          #e9f7ee; /* Color(0xFFE9F7EE) */
	--theme-color-neutral-97:          #ecfaf1; /* Color(0xFFECFAF1) */
	--theme-color-neutral-98:          #effdf3; /* Color(0xFFEFFDF3) */
	--theme-color-neutral-99:          #f4fff7; /* Color(0xFFF4FFF7) */
	--theme-color-neutral-100:         #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-neutral-variant-0:   #000000; /* Color(0xFF000000) */
	--theme-color-neutral-variant-2:   #000a05; /* Color(0xFF000A05) */
	--theme-color-neutral-variant-4:   #04110b; /* Color(0xFF04110B) */
	--theme-color-neutral-variant-5:   #05140e; /* Color(0xFF05140E) */
	--theme-color-neutral-variant-6:   #081610; /* Color(0xFF081610) */
	--theme-color-neutral-variant-10:  #101e18; /* Color(0xFF101E18) */
	--theme-color-neutral-variant-12:  #14231c; /* Color(0xFF14231C) */
	--theme-color-neutral-variant-17:  #1e2d26; /* Color(0xFF1E2D26) */
	--theme-color-neutral-variant-20:  #25342c; /* Color(0xFF25342C) */
	--theme-color-neutral-variant-22:  #293831; /* Color(0xFF293831) */
	--theme-color-neutral-variant-24:  #2d3c35; /* Color(0xFF2D3C35) */
	--theme-color-neutral-variant-30:  #3b4a42; /* Color(0xFF3B4A42) */
	--theme-color-neutral-variant-40:  #52625a; /* Color(0xFF52625A) */
	--theme-color-neutral-variant-50:  #6a7b72; /* Color(0xFF6A7B72) */
	--theme-color-neutral-variant-60:  #84958b; /* Color(0xFF84958B) */
	--theme-color-neutral-variant-65:  #91a298; /* Color(0xFF91A298) */
	--theme-color-neutral-variant-70:  #9eafa5; /* Color(0xFF9EAFA5) */
	--theme-color-neutral-variant-75:  #acbdb3; /* Color(0xFFACBDB3) */
	--theme-color-neutral-variant-80:  #b9cbc0; /* Color(0xFFB9CBC0) */
	--theme-color-neutral-variant-84:  #c4d6cb; /* Color(0xFFC4D6CB) */
	--theme-color-neutral-variant-87:  #cdded4; /* Color(0xFFCDDED4) */
	--theme-color-neutral-variant-90:  #d5e7dc; /* Color(0xFFD5E7DC) */
	--theme-color-neutral-variant-92:  #dbece2; /* Color(0xFFDBECE2) */
	--theme-color-neutral-variant-94:  #e1f2e7; /* Color(0xFFE1F2E7) */
	--theme-color-neutral-variant-95:  #e3f5ea; /* Color(0xFFE3F5EA) */
	--theme-color-neutral-variant-96:  #e6f8ed; /* Color(0xFFE6F8ED) */
	--theme-color-neutral-variant-97:  #e9fbf0; /* Color(0xFFE9FBF0) */
	--theme-color-neutral-variant-98:  #ecfef3; /* Color(0xFFECFEF3) */
	--theme-color-neutral-variant-99:  #f4fff7; /* Color(0xFFF4FFF7) */
	--theme-color-neutral-variant-100: #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-success-0:           #000000; /* Color(0xFF000000) */
	--theme-color-success-2:           #000813; /* Color(0xFF000813) */
	--theme-color-success-4:           #000f1e; /* Color(0xFF000F1E) */
	--theme-color-success-5:           #001223; /* Color(0xFF001223) */
	--theme-color-success-6:           #001526; /* Color(0xFF001526) */
	--theme-color-success-10:          #001d33; /* Color(0xFF001D33) */
	--theme-color-success-12:          #00213a; /* Color(0xFF00213A) */
	--theme-color-success-17:          #002c4a; /* Color(0xFF002C4A) */
	--theme-color-success-20:          #003354; /* Color(0xFF003354) */
	--theme-color-success-22:          #00375b; /* Color(0xFF00375B) */
	--theme-color-success-24:          #003c62; /* Color(0xFF003C62) */
	--theme-color-success-30:          #004a77; /* Color(0xFF004A77) */
	--theme-color-success-40:          #176298; /* Color(0xFF176298) */
	--theme-color-success-50:          #3a7bb2; /* Color(0xFF3A7BB2) */
	--theme-color-success-60:          #5795ce; /* Color(0xFF5795CE) */
	--theme-color-success-65:          #65a3dc; /* Color(0xFF65A3DC) */
	--theme-color-success-70:          #73b0ea; /* Color(0xFF73B0EA) */
	--theme-color-success-75:          #81bef9; /* Color(0xFF81BEF9) */
	--theme-color-success-80:          #98cbff; /* Color(0xFF98CBFF) */
	--theme-color-success-84:          #afd5ff; /* Color(0xFFAFD5FF) */
	--theme-color-success-87:          #bfddff; /* Color(0xFFBFDDFF) */
	--theme-color-success-90:          #cfe5ff; /* Color(0xFFCFE5FF) */
	--theme-color-success-92:          #d9eaff; /* Color(0xFFD9EAFF) */
	--theme-color-success-94:          #e3efff; /* Color(0xFFE3EFFF) */
	--theme-color-success-95:          #e8f1ff; /* Color(0xFFE8F1FF) */
	--theme-color-success-96:          #edf4ff; /* Color(0xFFEDF4FF) */
	--theme-color-success-97:          #f2f7ff; /* Color(0xFFF2F7FF) */
	--theme-color-success-98:          #f7f9ff; /* Color(0xFFF7F9FF) */
	--theme-color-success-99:          #fcfcff; /* Color(0xFFFCFCFF) */
	--theme-color-success-100:         #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-warning-0:           #000000; /* Color(0xFF000000) */
	--theme-color-warning-2:           #0d0600; /* Color(0xFF0D0600) */
	--theme-color-warning-4:           #160c00; /* Color(0xFF160C00) */
	--theme-color-warning-5:           #1a0f00; /* Color(0xFF1A0F00) */
	--theme-color-warning-6:           #1d1100; /* Color(0xFF1D1100) */
	--theme-color-warning-10:          #271900; /* Color(0xFF271900) */
	--theme-color-warning-12:          #2c1d00; /* Color(0xFF2C1D00) */
	--theme-color-warning-17:          #3a2600; /* Color(0xFF3A2600) */
	--theme-color-warning-20:          #422c00; /* Color(0xFF422C00) */
	--theme-color-warning-22:          #483000; /* Color(0xFF483000) */
	--theme-color-warning-24:          #4d3500; /* Color(0xFF4D3500) */
	--theme-color-warning-30:          #5f4100; /* Color(0xFF5F4100) */
	--theme-color-warning-40:          #7d5700; /* Color(0xFF7D5700) */
	--theme-color-warning-50:          #99701c; /* Color(0xFF99701C) */
	--theme-color-warning-60:          #b68935; /* Color(0xFFB68935) */
	--theme-color-warning-65:          #c59640; /* Color(0xFFC59640) */
	--theme-color-warning-70:          #d3a34c; /* Color(0xFFD3A34C) */
	--theme-color-warning-75:          #e2b158; /* Color(0xFFE2B158) */
	--theme-color-warning-80:          #f1be64; /* Color(0xFFF1BE64) */
	--theme-color-warning-84:          #fec96e; /* Color(0xFFFEC96E) */
	--theme-color-warning-87:          #ffd48b; /* Color(0xFFFFD48B) */
	--theme-color-warning-90:          #ffdeaa; /* Color(0xFFFFDEAA) */
	--theme-color-warning-92:          #ffe5bd; /* Color(0xFFFFE5BD) */
	--theme-color-warning-94:          #ffebd0; /* Color(0xFFFFEBD0) */
	--theme-color-warning-95:          #ffeed9; /* Color(0xFFFFEED9) */
	--theme-color-warning-96:          #fff2e1; /* Color(0xFFFFF2E1) */
	--theme-color-warning-97:          #fff5ea; /* Color(0xFFFFF5EA) */
	--theme-color-warning-98:          #fff8f3; /* Color(0xFFFFF8F3) */
	--theme-color-warning-99:          #fffbff; /* Color(0xFFFFFBFF) */
	--theme-color-warning-100:         #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-info-0:              #000000; /* Color(0xFF000000) */
	--theme-color-info-2:              #00090a; /* Color(0xFF00090A) */
	--theme-color-info-4:              #001111; /* Color(0xFF001111) */
	--theme-color-info-5:              #001415; /* Color(0xFF001415) */
	--theme-color-info-6:              #001717; /* Color(0xFF001717) */
	--theme-color-info-10:             #002020; /* Color(0xFF002020) */
	--theme-color-info-12:             #002425; /* Color(0xFF002425) */
	--theme-color-info-17:             #003031; /* Color(0xFF003031) */
	--theme-color-info-20:             #003738; /* Color(0xFF003738) */
	--theme-color-info-22:             #003c3d; /* Color(0xFF003C3D) */
	--theme-color-info-24:             #004042; /* Color(0xFF004042) */
	--theme-color-info-30:             #004f51; /* Color(0xFF004F51) */
	--theme-color-info-40:             #00696b; /* Color(0xFF00696B) */
	--theme-color-info-50:             #008587; /* Color(0xFF008587) */
	--theme-color-info-60:             #339fa1; /* Color(0xFF339FA1) */
	--theme-color-info-65:             #44adaf; /* Color(0xFF44ADAF) */
	--theme-color-info-70:             #54babc; /* Color(0xFF54BABC) */
	--theme-color-info-75:             #63c8ca; /* Color(0xFF63C8CA) */
	--theme-color-info-80:             #72d6d8; /* Color(0xFF72D6D8) */
	--theme-color-info-84:             #7de1e4; /* Color(0xFF7DE1E4) */
	--theme-color-info-87:             #86eaec; /* Color(0xFF86EAEC) */
	--theme-color-info-90:             #8ff3f5; /* Color(0xFF8FF3F5) */
	--theme-color-info-92:             #95f8fa; /* Color(0xFF95F8FA) */
	--theme-color-info-94:             #a2fdff; /* Color(0xFFA2FDFF) */
	--theme-color-info-95:             #b4feff; /* Color(0xFFB4FEFF) */
	--theme-color-info-96:             #c4feff; /* Color(0xFFC4FEFF) */
	--theme-color-info-97:             #d4ffff; /* Color(0xFFD4FFFF) */
	--theme-color-info-98:             #e2ffff; /* Color(0xFFE2FFFF) */
	--theme-color-info-99:             #f1ffff; /* Color(0xFFF1FFFF) */
	--theme-color-info-100:            #ffffff; /* Color(0xFFFFFFFF) */
	--theme-color-alert-0:             #000000; /* Color(0xFF000000) */
	--theme-color-alert-2:             #190006; /* Color(0xFF190006) */
	--theme-color-alert-4:             #26000c; /* Color(0xFF26000C) */
	--theme-color-alert-5:             #2b000f; /* Color(0xFF2B000F) */
	--theme-color-alert-6:             #300011; /* Color(0xFF300011) */
	--theme-color-alert-10:            #3f0019; /* Color(0xFF3F0019) */
	--theme-color-alert-12:            #47001c; /* Color(0xFF47001C) */
	--theme-color-alert-17:            #5a0026; /* Color(0xFF5A0026) */
	--theme-color-alert-20:            #65012c; /* Color(0xFF65012C) */
	--theme-color-alert-22:            #6b0730; /* Color(0xFF6B0730) */
	--theme-color-alert-24:            #710e35; /* Color(0xFF710E35) */
	--theme-color-alert-30:            #841e42; /* Color(0xFF841E42) */
	--theme-color-alert-40:            #a33759; /* Color(0xFFA33759) */
	--theme-color-alert-50:            #c35072; /* Color(0xFFC35072) */
	--theme-color-alert-60:            #e3698b; /* Color(0xFFE3698B) */
	--theme-color-alert-65:            #f37598; /* Color(0xFFF37598) */
	--theme-color-alert-70:            #ff85a6; /* Color(0xFFFF85A6) */
	--theme-color-alert-75:            #ff9cb4; /* Color(0xFFFF9CB4) */
	--theme-color-alert-80:            #ffb1c3; /* Color(0xFFFFB1C3) */
	--theme-color-alert-84:            #ffc1ce; /* Color(0xFFFFC1CE) */
	--theme-color-alert-87:            #ffcdd7; /* Color(0xFFFFCDD7) */
	--theme-color-alert-90:            #ffd9e0; /* Color(0xFFFFD9E0) */
	--theme-color-alert-92:            #ffe1e6; /* Color(0xFFFFE1E6) */
	--theme-color-alert-94:            #ffe8ec; /* Color(0xFFFFE8EC) */
	--theme-color-alert-95:            #ffecef; /* Color(0xFFFFECEF) */
	--theme-color-alert-96:            #fff0f2; /* Color(0xFFFFF0F2) */
	--theme-color-alert-97:            #fff4f4; /* Color(0xFFFFF4F4) */
	--theme-color-alert-98:            #fff8f7; /* Color(0xFFFFF8F7) */
	--theme-color-alert-99:            #fffbff; /* Color(0xFFFFFBFF) */
	--theme-color-alert-100:           #ffffff; /* Color(0xFFFFFFFF) */
}
